<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
>
  <h2>Dashboard</h2>
  <div>
    <!-- <button class="btn btn-primary" (click)="addStudentModal.showModal = true">
      Add Student
    </button> -->
    <button class="btn btn-primary" (click)="openAddStudentModal()">
      Add Student
    </button>
    <app-student-form #addStudentModal></app-student-form>
  </div>
</div>

<!-- This element will trigger the count emission but won't display in the UI -->
<app-students
  (studentCount)="updateStudentCount($event)"
  style="display: none"
></app-students>
<app-teachers
  (teacherCount)="updateTeacherCount($event)"
  style="display: none"
></app-teachers>

<!-- dashboard-cards.component.html -->
<div class="card-container">
  <div class="card" routerLink="/dashboard/students">
    <div class="card-content">
      <div class="card-header">
        <span>Students</span>
      </div>
      <div class="card-body">
        <span class="count">{{ totalStudents }}</span>
        <button class="arrow-button">
          <span class="material-symbols-outlined"> chevron_right </span>
        </button>
      </div>
    </div>
  </div>

  <div class="card" routerLink="/dashboard/teachers">
    <div class="card-content">
      <div class="card-header">
        <span>Teachers</span>
      </div>
      <div class="card-body">
        <span class="count">{{ totalTeachers }}</span>
        <button class="arrow-button">
          <span class="material-symbols-outlined"> chevron_right </span>
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="card">
    <div class="card-content">
      <div class="card-header">
        <span>Parents</span>
      </div>
      <div class="card-body">
        <span class="count">840</span>
        <button class="arrow-button">
          <span class="material-symbols-outlined"> chevron_right </span>
        </button>
      </div>
    </div>
  </div> -->

  <!-- <div class="card">
    <div class="card-content">
      <div class="card-header">
        <span>Earnings</span>
      </div>
      <div class="card-body">
        <span class="count">$54000</span>
        <button class="arrow-button">
          <span class="material-symbols-outlined"> chevron_right </span>
        </button>
      </div>
    </div>
  </div> -->
</div>
